

/****************/
/*****      *****/
/*****GLOBAL*****/
/*****      *****/
/****************/



* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: var(--clr-body-bg);
    min-height: 5000px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    padding-left: 6%;
}



footer {
    padding: 20px;
    margin-top: auto;
    background: var(--clr-footer);
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: var(--clr-nav-bg);
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rba(0, 0, 0, 0.1);
    text-decoration: none;
    user-select: none
}

nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}

h1, h2 {
    color: var(--clr-heading);
    line-height: 1.1;
}

:root {
    --clr-body-bg: hsl(300, 100%, 99%);
    --clr-card-bg: hsl(300, 100%, 99%);
    --clr-text: hsl(210, 30%, 11%);
    --clr-heading: hsl(210, 30%, 11%);
    --clr-footer: hsl(206, 27%, 90%);
    --clr-a-hover: hsl(240, 8%, 23%);
    --clr-nav-item: hsl(300, 100%, 99%);
    --clr-nav-bg: hsl(240, 6%, 20%);
    --clr-pizza-card: hsla(240, 6%, 20%, 0.595);
    --clr-pizza-text: hsl(300, 100%, 99%);
}


/** TEXT **/

.a_nav {
    position: relative;
    color: var(--clr-text);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.a_nav:hover {
    background: var(--clr-a-hover);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 59px;
    height: 55px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 18px;
    text-transform: uppercase;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: var(--clr-nav-item);
}

.nav_item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: var(--clr-nav-item);
}

.shadow {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.6);
}

.visually_hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.touch_cancel {
    user-select: none;
}

.center {
    text-align: center;
    margin: auto;
}


.config {
    padding: 4px;
    padding-left: 55px;
    padding-right: 55px;
}

.home {
    padding-top: 15%;
}

.main_title {
    font-size: 80px;
}

.main_btn {
    padding: 40px;
    border-radius: 40px;
    background: var(--clr-nav-bg);
}

.main_h2 {
    color: var(--clr-nav-item);
}

.main_space {
    padding-left: 150px;
    padding-right: 150px;
}

.pizza_img:focus {
    opacity: 0.7;
}

.rounded {
    border-radius: 20px;
}

.shadow {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.item_li {
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-weight: bold;
    border: 7px solid rgba(255, 255, 255, 0);
}

.pizza_td {
    width: 125px;
    padding-left:10px;
    padding-top:35px;
    padding-right:10px;
}

.multiple-pizza {
    width: 300px;
    background-color: var(--clr-pizza-card);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
}

.pizza_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    z-index: -1;
}

.h4_center {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    font-size: 60%;
    color: var(--clr-pizza-text);
}

.seconed_title {
    font-size: 200%;
    font-weight: 300;
    padding-top: 1%;
}

.home_desc {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 130%;
    padding-top: 10%;
    font-weight: 3000;
}