{% extends "layout.html" %}
{% block content %}

<body>
    <div class="main">
        <div class="all_pizza_bg">
            <div class="overlay_2">
                <ul class="container_p">
                    <!-- Loops through every taco in Pizza -->
                    {% for item in pizzas %}
                    <li class="multiple-pizza pizza_td item_li rounded shadow_box">
                        <!-- Displays a Pizza image and name -->
                        <a href = "/pizza/{{ item[0] }}"><img class="pizza_img" src="{{ item[5]}}"/></a>
                        <h4 class="h4_center">{{ item[1]}}</h4>     
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
{% endblock %}