{% extends "layout.html" %}
{% block content %}

<body>
    <h1 class="center main_title">WELCOME TO PIZZARIA ONLINE</h1>

    <h2 class="center seconed_title">Your Ultimate Destination for Irresistible Pizzas!</h1>

    <p class="center home_desc">This is the place where pizza dreams come true! Dive into a world of irresistible 
        flavors with our mouthwatering selection of pizzas, including the timeless Margherita, zesty Pepperoni, 
        tropical Hawaiian, veggie-packed Vegetarian, hearty Meat Lovers, smoky BBQ Chicken, loaded Supreme, and 
        indulgent Four Cheese. Each bite is a celebration of quality ingredients and expert craftsmanship, promising 
        a culinary adventure that satisfies every craving. Whether you're enjoying a cozy night in or hosting a 
        gathering with friends, Pizzaria Online is your go-to destination for pizza perfection. Place your order 
        now and let the feast begin! </p>
    <br>
    <br>
    <br>



{% endblock %}