<!DOCTYPE html>
<html>

<head>
    <title>PIZZARIA</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<div class="container">
    <body>
        <header></header>
        <div class="shadow1"></div>

        <div class="shadow2"></div>
        <nav>{% include "nav.html" %}</nav>
        <main>
            {% block content %}
            {% endblock %}

        </main>
        <footer>Nobody Reads It</footer>
    </body>
</div>

</html>