<script src="{{url_for('static',  filename='/script/theme.js')}}"></script>


<div class="navbar">

    <div class="menu">

        <img src="/static/images/logo.png" alt="" class="logo_img">
        <span class="logo">PIZZARIA</span>

        <div class="hamburger-menu">

            <div class="bar"></div>

        </div>

    </div>

</div>



<div class="links">

    <ul>

      <li>

        <a href="/" style="--i: 0.05s;">Home</a>

      </li>

      <li>

        <a href="/all-pizzas" style="--i: 0.15s;">Pizzas</a>

      </li>

      <li>

        <a href="#" style="--i: 0.2s;">Settings</a>

      </li>


      </li>

    </ul>

</div>

<script>
  const hamburger_menu = document.querySelector(".hamburger-menu");

  const container = document.querySelector(".container");

  hamburger_menu.addEventListener("click", () => {

    container.classList.toggle("active");

  });
  
</script>
<script src="app.js"></script>

