{% extends 'layout.html' %}
{% block content %}

<body>
    <div class="main">
        <div class="pizza_bg">
            <div class="overlay_2">
                <div class="table_w-60">
                    <table class="center ">
                        <tr class="table_bg">
                            <td class="rounded shadow_box single_td">
                                <img class="single_img rounded" src="/{{pizza[5]}}"/>
                                <h1 class="single_title">{{pizza[1]}}</h1>
                                <br>
                                <br>
                                <p class="single_p">{{pizza[2]}}</p>
                                <br>
                                <br>
                                <br>
                                <h3 class="single_h3">Ingredients</h3>
                                <ul>
                                    <li>1</li>
                                    <li>1</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    {{pizza}}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}